<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>
        <link rel="icon" href="../media/icon-wikipraktika.png" type="image/png" />
        <meta name="author" content="Adrian Rigo, Raphael Jöhl" />
		<meta name="publisher" content="HSR students" />
		<meta name="description" content="WED1 Testat">

		<link rel="stylesheet" type="text/css" href="./styles/styles.css">
	</head>
	<body>
		<header>
            <a href="./index.html">
                <object data="./media/logo-wikipraktika.svg" type="image/svg+xml" role="img" width="100" height="100"></object>
            </a>
			<h1>Wikipraktika</h1>
		</header>

        <h2>Navigation</h2>
        <nav>
            <ul>
            <li><a href="/de/">Hauptseite</a></li>
                <li><a href="/de/topics">Themenportale</a></li>
                <li>Mitmachen</li>
                <li>
                    <ul>
                        <li><a href="/de/join/enhance-article">Artikel verbessern</a></li>
                        <li><a href="/de/join/create-article">Neuen Artikel anlegen</a></li>
                        <li><a href="/de/join/author-portal">Autorenportal</a></li>
                        <li><a href="/de/join/help">Hilfe</a></li>
                        <li><a href="/de/join/last-changes/calculator">Letzte Änderungen</a></li>
                        <li><a href="/de/join/contact">Kontakt</a></li>
                        <li><a href="/de/join/donate">Spenden</a></li>
                    </ul>
                 </li>
                <li>Werkzeuge</li>
                <li>
                    <ul>
                        <li><a href="/de/calculator/tools/links-to-this-page">Links auf dieser Seite</a></li>
                        <li><a href="/de/calculator/tools/linked-changes">Änderungen an verlinkten Seiten</a></li>
                        <li><a href="/de/calculator/tools/permanent-link">Permanenter Link</a></li>
                        <li><a href="/de/calculator/tools/cite-article">Artikel zitieren</a></li>
                    </ul>
                </li>
                <li>In andern Sprachen</li>
                <li>
                    <ul>
                        <li><a href="/it/articles/calculator" hreflang="it">Italiano</a></li>
                        <li><a href="/fr/articles/calculator" hreflang="fr">Francais</a></li>
                        <li><a href="/en/articles/calculator" hreflang="en">English</a></li>
                    </ul>
                </li>
            </ul>
        </nav>



		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>