/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	counter-reset: h3;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}


/* text */
section {
	padding: 0 1.2rem;
}


article p {
	margin: 0.6rem 0;
}

article > header >h3 {
	counter-increment: h3;
	border-bottom: 1px solid #000;
	padding: 0;
	margin: 0.6rem 0;
}

article > header > h3:before {
	content: counter(h3) " ";
}

article > .image {
	margin: 1.2rem 1.2rem 1.2rem 0;
	float: left;
	width: 20%;
}

article > .image img {
	width: 100%;
	height: auto;
}

figcaption,
.source {
	font-size: 0.9rem;
	display: block;
	color: #bfbfbf;
	word-wrap: break-word;
	margin: 1.2rem 0;
}

figcaption a,
.source a {
	color: #000;
}


/* Common elements */

h2 {
	font-size: 2rem;
	padding: 0.6rem 0;
}

section > header,
article > header {
	background: #fff;
	color: #000;
	font-size: 1rem;
	height: 0rem;
	padding: 0rem;
}

section  > header {
	margin-bottom: 4rem;

}

article > header {
	margin-bottom: 2rem;
}

header {
	background: #0060a0;
	color: #fff;
	height: 5rem;
	padding: 0.6rem;
	font-family: sans-serif;
	font-size: 1.7rem;
	margin-bottom: 2.4rem;
}

header > a {
	text-decoration: none;
}


header object,
header h1 {
	vertical-align: top;
	display: inline-block;
}

button {
	font-size: 1em;
	font-weight: bold;
	background: #0060a0;
	border: none;
	padding: 8px 16px;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 20px -5px #000;
}

button:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.5);
}

button:active {
	box-shadow: inset 0 0 10px 0 #000;
}

.search {
	background: url('../media/icon-search.svg') 15% 50% / auto 1.5em no-repeat #0060a0;
	padding-left: 2.5em;
}


/* images */
object {
	width: 100%;
	height: calc(100% * 0.7);
}

/* calculator */
.calculator {
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	border: 0;

	width: calc(100% * 0.5);
	height: calc(100vw * 0.7 * 0.6 / 7*6);
}

/* video */
iframe {
	width: 100%;
	height: calc(100vw * 0.7 / 16*9);
}

video {
	width: 100%;
	height: calc(100vw * 0.7 / 4*3);
}

/* lists */
nav >  h2 {
	padding: 0 1.2rem;
}

nav ul {
	list-style-type: none;
}

nav > ul {
	margin: 0.6rem;
	padding: 0.6rem;
	border: 1px solid #bfbfbf;
	background-color: #f2f2f2;
}

nav > ul > li > ul {
	margin-left: 1rem;
}

nav > ul a {
	color: #000;
}

nav a[href] {
	color: #0645ad;
	text-decoration: underline;
}

nav a[hreflang]:before {
	display: inline-block;
	content: " ";
	vertical-align: middle;
	height: 1rem;
	width: 1.5rem;
	background-size: 1.3rem auto;
	background-repeat: no-repeat;
}

nav [hreflang=it]:before {
	background-image: url('../media/flag-it.svg');
}

nav [hreflang=fr]:before {
	background-image: url('../media/flag-fr.svg');
}

nav [hreflang=en]:before {
	background-image: url('../media/flag-en.svg');
}

.tr-variants dt {
	color: #0060a0;
	font-weight: bold;
}

.tr-variants dd {
	margin-left: 0.6rem;
	color: #000;
}

.tr-variants dd:before {
	content: '⌖ ';
}

.best-tr ol > li{
	list-style-position: inside;
}

	/* footer */
footer {
	padding: 0.6rem;
	margin-top: 1.2rem;
	background-color: #0060a0;
	color: #fff;
	line-height: 1.6em;
}

footer img {
	vertical-align: middle;
}

footer a,
footer small {
	color: #fff;
}

footer small {
	margin: 0;
}

.last-change {
	border: 1px dashed #000;
	background: #fff;
	color: #000;
	padding: 2px;
	font-style: italic;
	margin: 1.2rem 0;
}

.last-change time {
	float: right;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	line-height: 3em;
}

tr:nth-child(even) {
	background-color: #dbe6ef;
}

th {
	color: #fff;
	background-color: #0060a0;
	border-width: 2px 0;
	border-color: #000;
	border-style: solid;
}

td {
	text-align: center;
}

tr td:first-child {
	text-align: left;
	font-weight: bold;
}


/* forms */

fieldset {
	border-radius: 8px;
	border: 1px solid #c0c0c0;
	margin-bottom: 0.6rem;
}

legend {
	margin-left: 0.6rem;
}

label {
	display: block;
	line-height: 1.8em;
	padding: 0 0.6rem;
	color: #808080;
}

input:not([type=file]):not([type=radio]):not([type=checkbox]):not([type=range]),
textarea {
	display: block;
	width: 100%;
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 1em;
	height: 1.6em;
	margin-bottom: 0.6rem;
}

input[type=search] {
	width: auto;
	display: inline-block;
	margin-right: 0.5rem;
}

select,
input[type=file] {
	display: block;
	width: 100%;
	height: 1.8rem;
	margin-bottom: 0.6rem;
}

input[type=radio],
input[type=checkbox] {
	vertical-align: middle;
}

textarea {
	resize: vertical;
	height: 4.8em;
}



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

